body {
  background-color: black;
  font-size: 150%;
}

.all {
	display: flex;
	flex-direction: column;
	width: 800px;
	font-family: monospace;
	color: whitesmoke;
	background-color: black;
	box-sizing: border-box;
	padding: 30px;
	border: 3px whitesmoke;
	border-style: solid;
	border-color: whitesmoke;
	margin: auto;
	}

blockquote * {
	background-clip: padding-box;
	border: 0px;
	border-left: 4px;
	border-style: solid;
	border-color: rgba(245, 245, 245, 0.5);
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 10px;
	color: rgba(245, 245, 245, 0.8);
}

a {
	color: indianred;
}

hr {
	color: white;
	width: 650px;
}

pre {
	font-size: 11pt;
}

blockquote span {
	border: 0px;
}

blockquote a {
	border: 0px;
}

#background {
    position: fixed;
    z-index: -1;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
	border: 0px;
}

img, embed, video {
	box-sizing: border-box;
	border: 3px whitesmoke;
	border-style: solid;
	border-color: whitesmoke;
	margin: auto;
}

/* CSS for image/video system */

/* Container */
.container {
  display: inline-block;
  position: relative;
  margin: 15px;
}

/* Hide previews until hover */
.preview {
  display: none;
  width: 600px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* Show on hover */
.container:hover .preview {
  display: block;
  transform: scale(1.03);
}

/* Zoom-in cursor on hover of preview elements */
.container:hover .preview {
    cursor: zoom-in; /* Add zoom-in cursor */
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-body {
  max-width: 90%;
  max-height: 80%;
  position: relative;
}

.modal-body img,
.modal-body video {
  max-width: 100%;
  max-height: 100%;
}

/* Close button */
.close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.close:hover {
  color: #ccc;
}
